@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    top: 0;
    font-family: 'Lato', sans-serif;
}

/*nav*/

nav {
    display: flex;
    width: 100vw;
}

#nav-content-left {
    width: 50vw;
    align-items: center;
    display: flex;
}

#nav-content-right {
    width: 50vw;
    justify-content: right;
    align-items: center;
    display: flex;
}

.menu-item {
    margin: 25px 15px;
}

#nav-btn {
    text-decoration: none;
    background-color: #0161FF;
    padding: 5px 15px;
    color: #fff;
}

/*header*/

header {
    background-color: #B4D0E7;
    padding: 60px 17vw 10px 17vw;
}

#header-row {
    display: flex;
    position: relative;
}

header > h1 {
    font-size: 50pt;
    font-weight: 900;
    margin-bottom: 35px;
}

#header-text {
    width: 34%;
}

#header-p1 {
    margin-bottom: 35px;
}

#header-btn {
    text-decoration: none;
    background-color: #0161FF;
    padding: 10px 25px;
    color: #fff;
}

#header-p2 {
    margin-top: 35px;
    margin-bottom: 40px;
}

.fa-arrow-down {
    font-size: 30pt;
}

img[alt="header-img"] {
    width: 67%;
    position: absolute;
    right: 0;
}

/*main*/

.main-margin {
    margin: 100px 20vw;
}

.main-margin h1 {
    font-size: 25pt;
    font-weight: 900;
}

input {
    margin-top: 50px;
}

#radio {
    margin-right: 40px;
}

/*section 1 - plans*/

.main-fullwidth {
    width: 100vw;
}

#plans {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    display: flex;
}

.plan {
    width: 31%;
    height: auto;
    border: 1px solid lightgray;
}

.plan-kind {
    text-align: center;
    padding: 10px;
}

.plan-kind > i {
    margin-right: 5px;
}

.under-kind {
    border: none;
    height: 1px;
    background-color: lightgray;
}

.titleprice {
    margin: 30px 30px 40px 30px;
    line-height: 35px;
}

.grey {
    color: grey;
}

.description {
    margin: 30px 30px 40px 30px;
}

.description-item {
    display: flex;
    margin: 20px 0;
}

.description-item > i {
    margin-right: 10px;
}

.plan-trial {
    margin: 30px 30px 40px 30px;
}

.plan-btn {
    text-decoration: none;
    background-color: #0161FF;
    padding: 10px 15px;
    color: #fff;
}

.oppure {
    margin: 40px auto;
}

.short {
    border: none;
    height: 1px;
    background-color: lightgray;
    width: 25%;
}

.checklist {
    margin: 50px 30px 40px 30px;
}

.fa-check {
    color: #0161FF;
}

.plan-enterprise {
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
}

.p-team {
    margin-top: 40px;
}

#enterprise-content {
    display: flex;
}

#enterprise-left {
    width: 70%;
}

#enterprise-right {
    width: 30%;
    position: relative;
}

#enterprise-right > a {
    position: absolute;
    right: 30px;
    top: 40px;
}

/*section 2 - partners*/

#partner-container {
    width: 100%;
    display: flex;
}

img {
 width: 55%;
}

#partner-text {
    padding: 40px;
}

#partner-text > p {
    margin: 20px auto 40px auto;
}

#partner-btn {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
}

/*section 2 - partners*/

#business-container {
    width: 100%;
}

#business-container > h1 {
    margin-bottom: 50px;
}

.business-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.business-col {
    width: 31%;
}

.business-col > h2 {
    margin: 20px auto;
}

.business-img {
    width: 100%;
}

#business-title-container > h1 {
    margin: 150px auto 50px auto;
}