@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    top: 0;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/*nav*/

nav {
    display: flex;
    width: 100vw;
}

#nav-content-left {
    width: 50vw;
    align-items: center;
    display: flex;
}

#nav-content-left > a {
    color: #000;
    text-decoration: none;
}

#nav-content-right {
    width: 50vw;
    justify-content: right;
    align-items: center;
    display: flex;
}

#nav-content-right > a {
    color: #000;
    text-decoration: none;
}

.menu-item {
    padding: 25px 15px;
}

.hover-item:hover {
    background-color: #F3EEE8;
}

.menu-item > img {
    width: 100px;
}

#nav-btn {
    text-decoration: none;
    background-color: #0161FF;
    padding: 5px 15px;
    color: #fff;
}

#nav-btn:hover {
    background-color: #2F7BFF;
}

/*header*/

header {
    background-color: #B4D0E7;
    padding: 60px 17vw 10px 17vw;
}

#header-row {
    display: flex;
    position: relative;
}

header > h1 {
    font-size: 50pt;
    font-weight: 900;
    margin-bottom: 35px;
}

#header-text {
    width: 34%;
}

#header-p1 {
    margin-bottom: 35px;
}

#header-btn {
    text-decoration: none;
    background-color: #0161FF;
    padding: 10px 25px;
    color: #fff;
}

#header-btn:hover {
    background-color: #2F7BFF;
}

#header-p2 {
    margin-top: 35px;
    margin-bottom: 40px;
}

.fa-arrow-down {
    font-size: 30pt;
}

img[alt="header-img"] {
    width: 67%;
    position: absolute;
    right: 0;
}

a[href="#section1"] {
    color: #000;
}

/*main*/

.main-margin {
    margin: 100px 20vw;
}

.main-margin h1 {
    font-size: 25pt;
    font-weight: 900;
}

input {
    margin-top: 50px;
}

#radio {
    margin-right: 40px;
}

.main-fullwidth {
    width: 100vw;
}

.main-fullwidth:first-child {
    margin-bottom: 0;
}

/*section 1 - plans*/

#plans {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    display: flex;
}

.plan {
    width: 31%;
    height: auto;
    border: 1px solid lightgray;
}

.plan-kind {
    text-align: center;
    padding: 10px;
}

.plan-kind > i {
    margin-right: 5px;
}

.under-kind {
    border: none;
    height: 1px;
    background-color: lightgray;
}

.titleprice {
    margin: 30px 30px 40px 30px;
    line-height: 35px;
}

.grey {
    color: grey;
}

.description {
    margin: 30px 30px 40px 30px;
}

.description-item {
    display: flex;
    margin: 20px 0;
}

.description-item > i {
    margin-right: 10px;
}

.plan-trial {
    margin: 30px 30px 40px 30px;
}

.plan-btn {
    text-decoration: none;
    background-color: #0161FF;
    padding: 10px 15px;
    color: #fff;
}

.contattaci-btn {
    padding: 10px 65px;
}

.plan-btn:hover {
    background-color: #2F7BFF;
}

.oppure {
    margin: 40px auto;
}

.short {
    border: none;
    height: 1px;
    background-color: lightgray;
    width: 25%;
}

.checklist {
    margin: 50px 30px 40px 30px;
}

.fa-check {
    color: #0161FF;
}

.plan-enterprise {
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
}

.p-team {
    margin-top: 40px;
}

#enterprise-content {
    display: flex;
}

#enterprise-left {
    width: 70%;
}

#enterprise-right {
    width: 30%;
    position: relative;
}

#enterprise-right > a {
    position: absolute;
    right: 30px;
    top: 40px;
}

/*section 2 - partners*/

#partner-container {
    width: 100%;
    display: flex;
}

img {
 width: 55%;
}

#partner-text {
    padding: 40px;
}

#partner-text > p {
    margin: 20px auto 40px auto;
}

#partner-btn {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
}

#partner-btn {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
}

#partner-btn:hover {
    background-color: #F3EEE8;
}

/*section 3 - business*/

#business-container {
    width: 100%;
}

#business-container > h1 {
    margin-bottom: 50px;
}

.business-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.business-col {
    width: 31%;
}

.business-col > h2 {
    margin: 20px auto;
}

.business-img {
    width: 100%;
}

#business-title-container > h1 {
    margin: 150px auto 50px auto;
}

/*section 5 - designit*/

#designit-container {
    width: 100%;
    height: auto;
    display: flex;
}

.designit-col {
    width: calc(100%/3);
    height: calc(100vw/3);
    display: flex;
    flex-wrap: wrap;
}

.designit-col-center {
    width: calc(100%/3);
    height: calc(100vw/3);
    background-color: #F5F5F5;
    padding: 40px;
}

.designit-col-center > img {
    margin-bottom: 30px;
}

.designit-col-center > p {
    margin: 10px 0 40px 0;
    font-size: 11pt;
}

.designit-small {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designit-small > img {
    filter: invert(1);
}

.green {
    background-color: #A2D39B;
    box-shadow: inset 10px 10px 0px #D1E9CE, inset -10px -10px #D1E9CE;
}

.brown {
    background-color: #61082B;
}

.turquoise {
    background-color: #0093CE;
}

.orange {
    background-color: #FF1B1C;
}

.red {
    background-color: #D6001F;
}

.lightblue {
    background-color: #B4D0E7;
}

.purple {
    background-color: #0C2481;
}

.yellow {
    background-color: #FFD831;
}

/*section 6 - business*/

#business-banner {
    background-color: #B4D0E7;
}

#business-banner-content {
    margin: 0 20vw;
    display: flex;
}

.business-banner-col {
    width: 50%;
    padding: 80px 20px;
}

.business-banner-col > h2 {
    color: #61082B;
    font-size: 22pt;
}

.business-banner-right {
    text-align: right;
    padding-top: 100px;
}

#business-banner-btn {
    text-decoration: none;
    padding: 10px 40px;
    border: none;
    color: #000;
    background-color: #fff;
    font-size: 11pt;
}

#business-banner-btn:hover {
    background-color: #F3EEE8;
}

#faq-container > h2 {
    font-size: 22pt;
    margin-bottom: 50px;
}

#faq-container > hr {
    border: none;
    height: 1px;
    background-color: grey;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    margin: 35px 35px 35px 0;
}

/*footer*/

footer {
    width: 100vw;
    padding: 60px 17vw 30px 17vw;
    background-color: #000;
    color: #fff;
    line-height: 40px;
}

footer h3 {
    margin-bottom: 10px;
}

.footer-row {
    width: 100%;
    display: flex;
}

footer:first-child {
    justify-content: space-between;
}

.footer-col {
    width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer-hr {
    width: 13%;
    margin: 80px 0 30px 0;
    border: none;
    height: 1px;
    background-color: grey;
}

.footer-a {
    text-decoration: none;
    color: #fff;
}

.footer-grey {
    color: grey;
    display: flex;
    align-items: center;
}

.footer-grey > p {
    margin: 0 10px;
}